#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.Box{
  width: 500px;
  min-height: 250px;
  margin: 120px auto;
  border: 1px solid white;
  background: transparent;
  border-radius: 5px;
  
  vertical-align: text-top;
}

textarea{
  font-size: 23px;
  padding: 10px;
  width: 80vw;
  height: 80vh;
  resize: none;
  order: 1px solid white;
  background: transparent;
  border-radius: 5px;
}

.divButton{
  display: flex;
  justify-content: center;
}



